USE [master]
GO
/****** Object:  Database [eShopping]    Script Date: 7/17/2019 11:35:42 PM ******/
CREATE DATABASE [eShopping]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eShopping', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\eShopping.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'eShopping_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\eShopping_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eShopping].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eShopping]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/17/2019 11:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NULL,
	[Name_AR] [nvarchar](150) NULL,
	[Name_EN] [nvarchar](150) NULL,
	[Description_AR] [nvarchar](max) NULL,
	[Description_EN] [nvarchar](max) NULL,
	[IsHighlighted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactUs]    Script Date: 7/17/2019 11:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUs](
	[ContactUsID] [int] IDENTITY(1,1) NOT NULL,
	[AboutUs_AR] [nvarchar](max) NULL,
	[AboutUs_EN] [nvarchar](max) NULL,
	[Address_AR] [nvarchar](500) NULL,
	[Address_EN] [nvarchar](500) NULL,
	[MobileNumber] [nvarchar](200) NULL,
	[FaxNumber] [nvarchar](200) NULL,
	[eMailAddress] [nvarchar](200) NULL,
	[FaceBookURL] [nvarchar](max) NULL,
	[GooglePlusURL] [nvarchar](max) NULL,
	[YoutubeURL] [nvarchar](max) NULL,
	[TwitterURL] [nvarchar](max) NULL,
	[LastModified] [datetime] NULL,
	[FooterStatement_AR] [nvarchar](max) NULL,
	[FooterStatement_EN] [nvarchar](max) NULL,
 CONSTRAINT [PK_ContactUs] PRIMARY KEY CLUSTERED 
(
	[ContactUsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactUsMessages]    Script Date: 7/17/2019 11:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUsMessages](
	[ContactUsMessageID] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[eMailAddress] [nvarchar](max) NULL,
	[MobileNumber] [nvarchar](max) NULL,
	[MessageContent] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ContactMessages] PRIMARY KEY CLUSTERED 
(
	[ContactUsMessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FileStore]    Script Date: 7/17/2019 11:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileStore](
	[FileStoreID] [bigint] IDENTITY(1,1) NOT NULL,
	[FileType] [int] NOT NULL,
	[TypeID] [bigint] NOT NULL,
	[IsMain] [bit] NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FileExtension] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.FileLines] PRIMARY KEY CLUSTERED 
(
	[FileStoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Localizations]    Script Date: 7/17/2019 11:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Localizations](
	[LocalizationID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](200) NOT NULL,
	[Page] [varchar](200) NOT NULL,
	[Lang] [varchar](3) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Localizations] PRIMARY KEY CLUSTERED 
(
	[LocalizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/17/2019 11:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductTypeID] [bigint] NULL,
	[Name_AR] [nvarchar](500) NULL,
	[Name_EN] [nvarchar](500) NULL,
	[Description_AR] [nvarchar](max) NULL,
	[Description_EN] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[Qty] [int] NULL,
	[IsHighlighted] [bit] NOT NULL,
	[IsRecommended] [bit] NOT NULL CONSTRAINT [DF_Product_IsRecommended]  DEFAULT ((0)),
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product.ProductAttributeValues]    Script Date: 7/17/2019 11:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product.ProductAttributeValues](
	[ProductAttributeValueID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [bigint] NULL,
	[AttributeID] [bigint] NULL,
	[AttributeValue_AR] [nvarchar](max) NULL,
	[AttributeValue_EN] [nvarchar](max) NULL,
 CONSTRAINT [PK_Product.ProductAttributeValues] PRIMARY KEY CLUSTERED 
(
	[ProductAttributeValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product.Requests]    Script Date: 7/17/2019 11:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product.Requests](
	[ProductRequestID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [bigint] NULL,
	[FullName] [nvarchar](500) NULL,
	[MobileNumber] [nvarchar](200) NULL,
	[eMailAddress] [nvarchar](200) NULL,
	[Address] [nvarchar](500) NULL,
	[Qty] [int] NULL,
	[Price] [float] NULL,
	[TotalPrice] [float] NULL,
	[RequestNotes] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[IsDone] [bit] NOT NULL,
 CONSTRAINT [PK_Products.Requests] PRIMARY KEY CLUSTERED 
(
	[ProductRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductAttribute]    Script Date: 7/17/2019 11:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttribute](
	[AttributeID] [bigint] IDENTITY(1,1) NOT NULL,
	[AttributeName] [nvarchar](200) NULL,
	[AttributeTitle_AR] [nvarchar](200) NULL,
	[AttributeTitle_EN] [nvarchar](200) NULL,
 CONSTRAINT [PK_Products.Attributes] PRIMARY KEY CLUSTERED 
(
	[AttributeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 7/17/2019 11:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ProductTypeID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name_AR] [nvarchar](500) NULL,
	[Name_EN] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Products.Types] PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductType.ProductAttributes]    Script Date: 7/17/2019 11:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType.ProductAttributes](
	[ProductTypeAttributeValueID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductTypeID] [bigint] NULL,
	[AttributeID] [bigint] NULL,
 CONSTRAINT [PK_Products.Types.AttributesValues] PRIMARY KEY CLUSTERED 
(
	[ProductTypeAttributeValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 7/17/2019 11:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Password] [nvarchar](200) NULL,
	[eMailAddress] [nvarchar](200) NULL,
	[MobileNumber] [nvarchar](50) NULL,
	[AboutHim] [nvarchar](max) NULL,
	[GroupID] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ShowInfoToUsers] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastLogin] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 7/17/2019 11:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroup](
	[GroupID] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users.Groups] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [ParentID], [Name_AR], [Name_EN], [Description_AR], [Description_EN], [IsHighlighted], [IsActive]) VALUES (87, 0, N'هواتف زكية', N'Smart phones', N'عن الهواتف الزكية عن الهواتف الزكية عن الهواتف الزكية عن الهواتف الزكية عن الهواتف الزكية عن الهواتف الزكية عن الهواتف الزكية عن الهواتف الزكية عن الهواتف الزكية عن الهواتف الزكية', N' About smart phones About smart phones About smart phones About smart phones About smart phones About smart phones About smart phones About smart phones About smart phonesAbout smart phones', 1, 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[ContactUs] ON 

SET IDENTITY_INSERT [dbo].[ContactUs] OFF
SET IDENTITY_INSERT [dbo].[ContactUsMessages] ON 

INSERT [dbo].[ContactUsMessages] ([ContactUsMessageID], [FullName], [eMailAddress], [MobileNumber], [MessageContent], [IsRead], [IsDeleted], [CreatedDate]) VALUES (2, N'mohamed', N'medo@gmail.com', N'01067636963', N'zoka', 1, 0, CAST(N'2019-12-26 00:00:00.000' AS DateTime))
INSERT [dbo].[ContactUsMessages] ([ContactUsMessageID], [FullName], [eMailAddress], [MobileNumber], [MessageContent], [IsRead], [IsDeleted], [CreatedDate]) VALUES (6, N'mohameddddddd', N'medo@gmail.com', N'01067636963', N' سوف تقوم بفعل هذا سوف تقوم بفعل هذا سوف تقوم بفعل هذا سوف تقوم بفعل هذا سوف تقوم بفعل هذا سوف تقوم بفعل هذا سوف تقوم بفعل هذا سوف تقوم بفعل هذا سوف تقوم بفعل هذا سوف تقوم بفعل هذا سوف تقوم بفعل هذا سوف تقوم بفعل هذا سوف تقوم بفعل هذا سوف تقوم بفعل هذا سوف تقوم بفعل هذا سوف تقوم بفعل هذا', 1, 0, CAST(N'2019-06-06 00:00:00.000' AS DateTime))
INSERT [dbo].[ContactUsMessages] ([ContactUsMessageID], [FullName], [eMailAddress], [MobileNumber], [MessageContent], [IsRead], [IsDeleted], [CreatedDate]) VALUES (9, N'ttttttttttttttttttttt', N'dd@dd.com', N'01010101010', N'ghghgh', 1, 0, CAST(N'2019-07-16 12:49:33.263' AS DateTime))
SET IDENTITY_INSERT [dbo].[ContactUsMessages] OFF
SET IDENTITY_INSERT [dbo].[FileStore] ON 

INSERT [dbo].[FileStore] ([FileStoreID], [FileType], [TypeID], [IsMain], [FilePath], [FileName], [FileExtension], [IsActive], [CreatedDate]) VALUES (121, 3, 2, 0, N'Products_3_2_Screenshot_1.png', N'Products_3_2_Screenshot_1.png', N'image/png', 1, CAST(N'2019-07-11 15:17:18.807' AS DateTime))
INSERT [dbo].[FileStore] ([FileStoreID], [FileType], [TypeID], [IsMain], [FilePath], [FileName], [FileExtension], [IsActive], [CreatedDate]) VALUES (122, 3, 2, 0, N'Products_3_2_Exceptional Exchange Rate Issue 1.png', N'Products_3_2_Exceptional Exchange Rate Issue 1.png', N'image/png', 1, CAST(N'2019-07-11 15:17:44.863' AS DateTime))
INSERT [dbo].[FileStore] ([FileStoreID], [FileType], [TypeID], [IsMain], [FilePath], [FileName], [FileExtension], [IsActive], [CreatedDate]) VALUES (124, 3, 2, 1, N'Products_3_2_817_Screenshot_1.png', N'Products_3_2_817_Screenshot_1.png', N'image/png', 1, CAST(N'2019-07-11 15:23:07.817' AS DateTime))
SET IDENTITY_INSERT [dbo].[FileStore] OFF
SET IDENTITY_INSERT [dbo].[Localizations] ON 

INSERT [dbo].[Localizations] ([LocalizationID], [Code], [Page], [Lang], [Text]) VALUES (1, N'AppName1', N'home', N'en', N'Zajil')
INSERT [dbo].[Localizations] ([LocalizationID], [Code], [Page], [Lang], [Text]) VALUES (2, N'AppName1', N'home', N'ar', N'زاجل')
INSERT [dbo].[Localizations] ([LocalizationID], [Code], [Page], [Lang], [Text]) VALUES (3, N'AppName2', N'home', N'en', N'Shop')
GO
SET IDENTITY_INSERT [dbo].[Localizations] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductTypeID], [Name_AR], [Name_EN], [Description_AR], [Description_EN], [Price], [Qty], [IsHighlighted], [IsRecommended], [IsActive], [CreatedDate], [CategoryID]) VALUES (2, 1, N'تليفزيون توشيبا 43 بوصة', N'Toshiba 43 inch', N'تليفزيون توشيبا 43 بوصة', N' About toshiba 43 inch  About toshiba 43 inch  About toshiba 43 inch  About toshiba 43 inch  About toshiba 43 inch  About toshiba 43 inch About toshiba 43 inch ', 6000, 6, 1, 1, 1, CAST(N'2019-07-17 22:43:09.700' AS DateTime), 83)
INSERT [dbo].[Product] ([ProductID], [ProductTypeID], [Name_AR], [Name_EN], [Description_AR], [Description_EN], [Price], [Qty], [IsHighlighted], [IsRecommended], [IsActive], [CreatedDate], [CategoryID]) VALUES (3, 14, N'حفار x320 ', N'CatterBeller 120X', N'حفار x320 ', N'About CatterBeller 120X About CatterBeller 120X About CatterBeller 120X About CatterBeller 120X About CatterBeller 120X About CatterBeller 120X About CatterBeller 120X About CatterBeller 120X About CatterBeller 120X About CatterBeller 120X ', 700000, 2, 0, 0, 1, CAST(N'2019-07-17 21:14:34.787' AS DateTime), 85)
INSERT [dbo].[Product] ([ProductID], [ProductTypeID], [Name_AR], [Name_EN], [Description_AR], [Description_EN], [Price], [Qty], [IsHighlighted], [IsRecommended], [IsActive], [CreatedDate], [CategoryID]) VALUES (4, 14, N'جرار زراعى', N'earth loader', N'جرار زراعى', N'About earth loader About earth loader About earth loader About earth loader About earth loader About earth loader About earth loader About earth loader About earth loader About earth loader About earth loader About earth loader ', 640000, 8, 0, 0, 1, CAST(N'2019-07-17 21:15:08.747' AS DateTime), 85)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Product.ProductAttributeValues] ON 

INSERT [dbo].[Product.ProductAttributeValues] ([ProductAttributeValueID], [ProductID], [AttributeID], [AttributeValue_AR], [AttributeValue_EN]) VALUES (5, 2, 4, N'FFF', N'FF')
SET IDENTITY_INSERT [dbo].[Product.ProductAttributeValues] OFF
SET IDENTITY_INSERT [dbo].[Product.Requests] ON 

INSERT [dbo].[Product.Requests] ([ProductRequestID], [ProductID], [FullName], [MobileNumber], [eMailAddress], [Address], [Qty], [Price], [TotalPrice], [RequestNotes], [CreatedDate], [IsDone]) VALUES (1, 2, N'عمر أحمد', N'01007330161', N'x@x.com', N'15 شارع 4 حى الزهور', 1, 6000, 6000, N'ممكن توصيل المنتج للعنوان المطلوب ؟', NULL, 1)
INSERT [dbo].[Product.Requests] ([ProductRequestID], [ProductID], [FullName], [MobileNumber], [eMailAddress], [Address], [Qty], [Price], [TotalPrice], [RequestNotes], [CreatedDate], [IsDone]) VALUES (2, 2, N'توفيق عبد العزيز', N'01005588888', N'y@y.com', N'حى القومية', 2, 6000, 12000, N'ممكن توصيل المنتج للعنوان المطلوب ؟', NULL, 1)
INSERT [dbo].[Product.Requests] ([ProductRequestID], [ProductID], [FullName], [MobileNumber], [eMailAddress], [Address], [Qty], [Price], [TotalPrice], [RequestNotes], [CreatedDate], [IsDone]) VALUES (3, 2, N'ryghtrty', N'12121212121', N'ftdfg', N'fdfdfdfdf', 5, 6000, 30000, N'sdfdsf', NULL, 0)
SET IDENTITY_INSERT [dbo].[Product.Requests] OFF
SET IDENTITY_INSERT [dbo].[ProductAttribute] ON 

INSERT [dbo].[ProductAttribute] ([AttributeID], [AttributeName], [AttributeTitle_AR], [AttributeTitle_EN]) VALUES (2, N'اللون', N'متوفر بلون', N'متوفر بلون')
INSERT [dbo].[ProductAttribute] ([AttributeID], [AttributeName], [AttributeTitle_AR], [AttributeTitle_EN]) VALUES (3, N'الحجم', N'الحجم', N'الحجم')
INSERT [dbo].[ProductAttribute] ([AttributeID], [AttributeName], [AttributeTitle_AR], [AttributeTitle_EN]) VALUES (4, N'المقاس', N'المقاس', N'المقاس')
SET IDENTITY_INSERT [dbo].[ProductAttribute] OFF
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([ProductTypeID], [Name_AR], [Name_EN], [IsActive], [IsDeleted], [CreatedDate]) VALUES (1, N'تليفزيونات', N'TVs', 1, 0, NULL)
INSERT [dbo].[ProductType] ([ProductTypeID], [Name_AR], [Name_EN], [IsActive], [IsDeleted], [CreatedDate]) VALUES (2, N'غسالات', N'Washing machines', 1, 0, NULL)
INSERT [dbo].[ProductType] ([ProductTypeID], [Name_AR], [Name_EN], [IsActive], [IsDeleted], [CreatedDate]) VALUES (14, N'لوادر', N'Loaders', 1, 0, CAST(N'2019-07-14 10:28:56.777' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductType] OFF
SET IDENTITY_INSERT [dbo].[ProductType.ProductAttributes] ON 

INSERT [dbo].[ProductType.ProductAttributes] ([ProductTypeAttributeValueID], [ProductTypeID], [AttributeID]) VALUES (59, 1, 2)
INSERT [dbo].[ProductType.ProductAttributes] ([ProductTypeAttributeValueID], [ProductTypeID], [AttributeID]) VALUES (60, 1, 3)
INSERT [dbo].[ProductType.ProductAttributes] ([ProductTypeAttributeValueID], [ProductTypeID], [AttributeID]) VALUES (61, 1, 5)
SET IDENTITY_INSERT [dbo].[ProductType.ProductAttributes] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [FullName], [Password], [eMailAddress], [MobileNumber], [AboutHim], [GroupID], [CreatedDate], [ShowInfoToUsers], [IsActive], [IsDeleted], [LastLogin]) VALUES (1, N'محمد بحيرى', N'Omar@123', N'mohamd.behery@yahoo.com', N'01007330161', NULL, N'Admin', NULL, 1, 1, 0, NULL)
INSERT [dbo].[User] ([UserID], [FullName], [Password], [eMailAddress], [MobileNumber], [AboutHim], [GroupID], [CreatedDate], [ShowInfoToUsers], [IsActive], [IsDeleted], [LastLogin]) VALUES (2, N'سليمان السيد', N'Omar@123', N'soliman.elsayed@yahoo.com', N'01005545485', NULL, N'Admin', NULL, 1, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
INSERT [dbo].[UserGroup] ([GroupID], [Description]) VALUES (N'Admin', N'Administrators')
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Products_Products.Types] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductType] ([ProductTypeID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Products_Products.Types]
GO
ALTER TABLE [dbo].[Product.ProductAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_Product.ProductAttributeValues_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Product.ProductAttributeValues] CHECK CONSTRAINT [FK_Product.ProductAttributeValues_Product]
GO
ALTER TABLE [dbo].[Product.ProductAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_Product.ProductAttributeValues_ProductAttribute] FOREIGN KEY([AttributeID])
REFERENCES [dbo].[ProductAttribute] ([AttributeID])
GO
ALTER TABLE [dbo].[Product.ProductAttributeValues] CHECK CONSTRAINT [FK_Product.ProductAttributeValues_ProductAttribute]
GO
ALTER TABLE [dbo].[Product.Requests]  WITH CHECK ADD  CONSTRAINT [FK_Product.Requests_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Product.Requests] CHECK CONSTRAINT [FK_Product.Requests_Product]
GO
ALTER TABLE [dbo].[ProductType.ProductAttributes]  WITH CHECK ADD  CONSTRAINT [FK_Products.Types.AttributesValues_Products.Types.AttributesValues] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductType] ([ProductTypeID])
GO
ALTER TABLE [dbo].[ProductType.ProductAttributes] CHECK CONSTRAINT [FK_Products.Types.AttributesValues_Products.Types.AttributesValues]
GO
ALTER TABLE [dbo].[ProductType.ProductAttributes]  WITH CHECK ADD  CONSTRAINT [FK_ProductType.ProductAttributes_ProductAttribute] FOREIGN KEY([AttributeID])
REFERENCES [dbo].[ProductAttribute] ([AttributeID])
GO
ALTER TABLE [dbo].[ProductType.ProductAttributes] CHECK CONSTRAINT [FK_ProductType.ProductAttributes_ProductAttribute]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_Users_Users.Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[UserGroup] ([GroupID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_Users_Users.Groups]
GO
USE [master]
GO
